/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto+Slab:wght@300&display=swap');s */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto+Slab:wght@300&display=swap");
.m3 {
  display: inline;
  padding-left: 0.89vw;
}
.m2 {
  /* display: flex; */
  display: inline;
  /* margin-left: 410px; */
  /* margin-bottom: 20%; */
  padding-left: 19.04vw;
  color: rgb(121, 122, 124);
}
p {
  display: flex;
  color: white;
  width: 37.8vw;
  height: 20.9vw;
  font-size: 2.14vw;
  margin: 2.97vw 0px 0.83vw 5.95vw;
  font-family: "Roboto Flex", sans-serif;
  text-align: center;
}
h2 {
  padding-top: 0.59vw;
  padding-left: 1.19vw;
  font-size: 2.38vw;
}
.shoes span {
  padding-left: 1.19vw;
  /* margin-top: 0px; */
  margin-top: 1.19vw;
  font-size: 1.19vw;
}
.price {
  margin-left: 20.8vw;
  margin-top: 1.48vw;
  margin-right: 2.97vw;
  font-size: xx-large;
}

.tax {
  margin-left: 18.4vw;
  /* padding-top: 12pxp; */
  padding-bottom: 0.23vw;
}
.info {
  padding-left: 0.59vw;
  padding-top: 2.38vw;
}
.info ul li {
  color: white;
  font-size: 2.14vw;
  font-family: "Roboto Flex", sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}
